/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
.hero-container {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}
